* 
{
    font-size: 1em;
    margin: 0;
    padding: 0;                
}            
header, section 
{
    display: block;
    margin: 1em;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.4em;
}
            
h1, h2 
{
    text-transform: uppercase;
    font-family: 'Bowlby One', sans-serif;
    color: #9cf; /* My favorite color is #48f. Unfortunately, it's too dark for what I'm going for. */
    text-shadow: 0 1px 1px #48f; /* Oh, but I'll find a place to use it. */
    line-height: normal;
}
#container 
{
    max-width: 800px;
    margin: 0 auto;
}
            
a, a:visited 
{
    color: #48f;
    text-decoration: none;
}
a:hover 
{
    text-decoration: underline;
}        
            
h1.name .first
{
    text-transform: none;                
    font-weight: normal;
    color: black;
    margin-bottom: -0.93em;
    display: block;
    font-family: 'Reenie Beanie', cursive;
    font-size: 6em;
    position: relative;
    z-index: 1;
    text-shadow: none;
}
h1.name .last
{
    margin-bottom: -0.25em;
    display: block;                
    font-size: 7em;                                
    z-index: 0;
}
   
/* Section titles */         
h2 
{
    font-size: 2em;
}

/* Detail items in resume sections */
ul
{
    list-style-type: none;
}
li
{
    margin: 0 0 1em 0;
}