* {
    padding: 0px;
    margin: 0px;
}
body {
    text-align: center;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    color: white;
    text-shadow: 0px 2px 2px #999;
    line-height: 65px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#333), color-stop(0.5, #222), color-stop(0.5, #000))
}

.box {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 1px 1px #666;
    box-shadow: 0px 1px 1px #666;
    border-radius: 4px;
    border: 1px solid #666;
    background: #ddd;
}
.box.checked {
    background-image: url(check.png);
}


ul#dates {
    list-style: none;
}
    ul#dates li {
        border-bottom: 1px solid #bbb;
        text-align: left;
        line-height: 51px;
        padding: 3px 5px 5px 5px;
        color: #333;
        text-shadow: 0px 1px 0px #999;
    }
        ul#dates li div.box {
            float: right;
        }